#nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    background-color: #304539;
    color: white;
    margin-bottom: 1px;
}
#nav a {
    display: inline-block;
    float: right;
    padding: 14px 16px;
    text-align: center;
    color: #c3c7cc;
    text-decoration: none;
    margin: 0 auto;

}
#banner {
    position: absolute;
    width: 100%;
    height: 500px;
    right: 0;
    left: 0;
    margin: 0;
    top: 350px;
    text-align: center;
    color: #303539;


}
#main {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(42,57,40,1) 100%);
    margin: 0 auto;
    top: 0;
    left: 0;


}





#main {
    top: 50px;

}

a.menu {
    width: 80px;

}

a.menu:hover {
    font-size: 15px;
   border-bottom: 2px solid red;
}

a.active {
    font-size: 15px;
    border-bottom: 2px solid red;

}

#text_about_me {
    text-align: center;
    position: absolute;
    top: 90px;
    padding-left: 43%;
    color: white;
    font-weight: bold;
}

#about_me {
    color: white;
}

.about_color {
    color: white;
    position: relative;
    text-align: center;
    top: 15px;

}

#text_contact {
    position: absolute;
    top: 50px;
    padding-left: 20%;
    color: white;
    font-weight: bold;
}

.Logo {
    padding-left: 38px;
}

#tips {
    text-align: center;
}